@page "/visitor/viewrequirements/major/sociology"
<h3>template</h3>


<p>@x</p>


@code
{
    Mongo mongo = new Mongo("college-site-2");
    List<Majors> queryMajor;
    string x;

    protected override async Task OnInitializedAsync()
    {
        queryMajor = mongo.LoadRecord<Majors>("majors");

        x = queryMajor[0].MajorRequirements[1];
    }
}
