
@keyframes buttonScrollOver 
{
  0% {background-color: rgb(7, 126, 190);}
  10% {background-color: rgb(0, 121, 203);}
  20% {background-color: rgb(0, 115, 215);}
  30% {background-color: rgb(0, 108, 226);}
  40% {background-color: rgb(0, 100, 236);}
  50% {background-color: rgb(0, 91, 244);}
  60% {background-color: rgb(0, 81, 251);}
  70% {background-color: rgb(0, 67, 255);}
  80% {background-color: rgb(0, 67, 255)}
  90% {background-color: rgb(0, 47, 255);}
  100% {background-color: rgb(0, 0, 255);}
}

.caraousel {
    height: 350px;
    width: 100%
  }
  
  .footerImg {
    height: 100px;
    width: 200px;
  }

  html, body {
    height: 100%;
    color: #fff;
 }
  body {
    margin: 0;
    background: linear-gradient(90deg,#49a09d,#5f2c82);
    font-family: sans-serif;
    font-weight: 100;
 }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
  table {
    width: 1400px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
 }
  th, td {
    padding: 15px;
    background-color: rgba(5, 5, 65, 0.3);
    color: #fff;
 }
  th {
    text-align: left;
 }
  thead th {
    background-color: #55608f;
 }
  tbody tr:hover {
    background-color: rgba(255,255,255,0.3);
 }
 

 tbody td {
  position: relative;
}

tbody td:hover {
  background-color: rgba(255,255,255,0.3);
}

  tbody td:hover:before 
  {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
 }
  
.btncolor
{
  background-color:rgb(7, 126, 190);
  border-radius: 25%;
  border-color: white;
}

.btncolor:hover
{
  animation-name: buttonScrollOver;
  animation-duration: 0.8s;
  background-color: rgb(0, 0, 255);
}

.btncolor:active 
{
  transform: scale(0.94);

  box-shadow: 4px 2px 22px 1px rgba(0, 0, 0, 0.24);
}



a
{
  color: rgb(13, 5, 75);
}

.dropdowncolor
{
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
}

.animatedrainbow {
  color: #F00;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Arial Black, Gadget, sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FF0000;
  -webkit-animation: animatedBackground_c 2s infinite alternate;
  animation: animatedBackground_c 2s infinite alternate;
}

.center
{
  text-align: center;
}

kbd
{
  color: red;
}

@keyframes animatedBackground_c {
  0% {-webkit-text-stroke-color: #ff0000}
  10% {-webkit-text-stroke-color: #00ee4b}
  20% {-webkit-text-stroke-color: #c7ed0b}
  30% {-webkit-text-stroke-color: #ff0000}
  40% {-webkit-text-stroke-color: #00ee4b}
  50% {-webkit-text-stroke-color: #c7ed0b}
  60% {-webkit-text-stroke-color: #ff0000}
  70% {-webkit-text-stroke-color: #00ee4b}
  80% {-webkit-text-stroke-color: #c7ed0b}
  90% {-webkit-text-stroke-color: #ff0000}
  100% {-webkit-text-stroke-color: #00ee4b}
}


.contentbody {
  margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	display: flex;
	min-height: 25vh;
	align-items: center;
	justify-content: center;
}

.content {
	position: relative;
}

.content h3 {
	color: #fff;
	font-size: 6em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h3:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 3px #ffffff;
}

.content h3:nth-child(2) {
	color: #08b3e7;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}