body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: blue;
  background-color: teal;
}

a {
  color: #13a908;
}

.caraousel {
  height: auto;
  width: 1500px;
}

.footerImg {
  height: 100px;
  width: 200px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: blue;
  background-color: teal;
}

a {
  color: #13a908;
}

.caraousel {
  height: auto;
  width: 1500px;
}

.footerImg {
  height: 100px;
  width: 200px;
}