@page "/blazoredlocalstoragetest"
@inject Blazored.LocalStorage.ILocalStorageService storage

<input type="text" @bind = "email" placeholder = "email"/>
<br />
<input type="password" @bind = "password" placeholder = "password"/>
<button class= "btncolor" @onclick = "saveSession">save</button>
<button class= "btncolor" @onclick = "clearSession">clear</button>

@code 
{
    string email;
    string password;
    string view;

 protected override async Task OnInitializedAsync()
    {

    }

    public async void saveSession()
    {
        await storage.SetItemAsync("email", "test email");
        await storage.SetItemAsync("password", "test password");
    }

    public async void clearSession()
    {
        await storage.ClearAsync();
    }

    private void login()
    {
        Mongo mongo = new Mongo("college-site-2");

        var userQuery = mongo.LoadRecordByString<string>("AllUser", "Email", email);
        var passQuery = mongo.LoadRecordByString<string>("AllUser", "Email", email);

    }
}
