<!--
@page "/logintest"
@inject ProtectedLocalStorage storage


<!doctype html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>login</title>


</head>
<body>
    <button @onclick="@StoreValueAsync">set session data</button>

    <button @onclick="@removeValueAsync">remove session data</button>

    <button @onclick = "@getValueAsync">get value</button>

    @testString


</body>

@code
{
    private string testString = "nothing";

    public void StoreValueAsync()
    {
        storage.SetAsync("username", "user");
        storage.SetAsync("password", "pass");
    }

    public void removeValueAsync()
    {
        storage.DeleteAsync("username");
        storage.DeleteAsync("password");
    }

    public void getValueAsync()
    {
        var user = storage.GetAsync<string>("username");
        var pass = storage.GetAsync<string>("password");


        if (user != null)
        {
            testString = user.ToString() + "string";
        }
        
    }


}
-->