@page "/developer/scheduleprofessors"

<button @onclick = "scheduleProfessors">schedule professors</button>

<button @onclick = "assignProfessorsToClasses">assign professors to class</button>

@code
{
    Mongo mongo = new Mongo("college-site-2");

    private void scheduleProfessors()
    {
        var queryClass = mongo.LoadRecord<Classes>("classes");
        var queryUser = mongo.LoadRecord<AllUser>("allUser");

        List<string> transcript = new List<string> { };

        Console.WriteLine("running scheduleProfessors");

        for (int i = 0; i < queryUser.Count; i++)
        {
            for (int j = 0; j < queryClass.Count; j++)
            {
                if (queryClass[j].ProfFirstName == queryUser[i].FirstName)
                {
                    transcript.Add(queryClass[j].CourseName);
                    Console.WriteLine($"{queryUser[i].FirstName} {queryUser[i].LastName}: {queryClass[j].CourseName}");
                }
            }
            Console.WriteLine("\n\n\n");
            queryUser[i].TranscriptPlainText = transcript.ToArray();



            mongo.UpsertRecord<AllUser>("allUser", queryUser[i].Id, queryUser[i]);
            transcript.Clear();

        }
        Console.WriteLine("table updated");
    }


    private void assignProfessorsToClasses()
    {
        var queryClass = mongo.LoadRecord<Classes>("classes");
        var queryUser = mongo.LoadRecord<AllUser>("allUser");

        int counter = 0;
        Console.WriteLine("running assignProfessorsToClasses");
        for (int i = 0; i < queryClass.Count; i++)
        {
            if (queryClass[i].Department == queryUser[counter].Department && queryUser[counter].PartOrFullTime == "Part Time")
            {
                queryClass[i].ProfFirstName = queryUser[counter].FirstName;
                queryClass[i].ProfLastName = queryUser[counter].LastName;
                queryClass[i].ProfessorName = $"{queryUser[counter].FirstName} {queryUser[counter].LastName}";
                counter++;
                break;
            }

            if (queryClass[i].Department == queryUser[counter].Department && queryUser[counter].PartOrFullTime == "Full Time")
            {
                queryClass[i].ProfFirstName = queryUser[counter].FirstName;
                queryClass[i].ProfLastName = queryUser[counter].LastName;
                queryClass[i].ProfessorName = $"{queryUser[counter].FirstName} {queryUser[counter].LastName}";

                i++;

                queryClass[i].ProfFirstName = queryUser[counter].FirstName;
                queryClass[i].ProfLastName = queryUser[counter].LastName;
                queryClass[i].ProfessorName = $"{queryUser[counter].FirstName} {queryUser[counter].LastName}";
            }

            mongo.UpsertRecord<Classes>("classes", queryClass[i].Id, queryClass[i]);
        }
        Console.WriteLine("table updated");
    }
}