@page "/updatepasswords"


<button @onclick = "updatePasswords">update passwords</button>

@code 
{
    string finalString = "";


    private void updatePasswords()
    {
        Mongo mongo = new Mongo("college-site-2");
        var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        var stringChars = new char[8];
        var random = new Random();


        var list = new List<string> { };
        var counter = 0;
        for (int i = 0; i < 1394; i++)
        {
            for (int j = 0; j < stringChars.Length; j++)
            {
                stringChars[j] = chars[random.Next(chars.Length)];
            }

            finalString = new String(stringChars);
            list.Add(finalString);
            Console.WriteLine($"counter1: {counter}   {list[counter]}");
            counter++;

        }

        var userQuery = mongo.LoadRecord<AllUser>("all_user");

        //note: this stores a local copy, it has to be pushed back into the database
        //-nick
        int counter2 = 0;
        foreach (var user in userQuery)
        {
            Console.WriteLine($"{list.Count}");
            Console.WriteLine($"before: {user.Password}");
            user.Password = list[0];
            Console.WriteLine($"after: {user.Password}");
            Console.WriteLine($"counter2 {counter2}   {list[counter2]}");
            counter2++;
            
        }
        
        }

    //private void updatePasswords()
    //{
    //    Mongo mongo = new Mongo("college-site-2");
    //    var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    //    var stringChars = new char[8];
    //    var random = new Random();

    //    for (int i = 0; i < stringChars.Length; i++)
    //    {
    //        stringChars[i] = chars[random.Next(chars.Length)];
    //    }

    //    finalString = new String(stringChars);

    //    var userQuery = mongo.LoadRecord<AllUser>("allUser");
    //    var list = new List<string> { };
    //    var count = 0;
    //    foreach (var user in userQuery)
    //    {
    //        list.Add(finalString);
    //        count++;
    //    }
    //    loadList = $"list loaded {count}";
    //    int counter = 0;
    //    int count2 = 0;
    //    foreach (var user in userQuery)
    //    {
    //        user.Password = list[counter];
    //        finalString = $"{list[counter]}";
    //        count2++;
    //        counter++;
    //    }
    //    loadDB = "database loaded";
    //}
}
