bin/Debug/net7.0/CollegeWebsite2.dll
*.vsidx
bin/Debug/net7.0/CollegeWebsite2.dll
.vs/CollegeWebsite2/DesignTimeBuild/.dtbcache.v2
.vs/CollegeWebsite2/v17/.suo
.vs/ProjectEvaluation/collegewebsite2.metadata.v6.1
.vs/ProjectEvaluation/collegewebsite2.projects.v6.1
bin/Debug/net7.0/CollegeWebsite2.dll
obj/Debug/net7.0/project.razor.vs.json
*.dll
*.pdb
