
bin/Debug/net7.0/CollegeWebsite2.dll
.vs/CollegeWebsite2/FileContentIndex/be393394-3d97-4053-9097-5f078198a9f7.vsidx
.vs/CollegeWebsite2/FileContentIndex/9da29616-6bd8-42c4-98b5-f558d081a7df.vsidx
.vs/CollegeWebsite2/FileContentIndex/4f111dc9-3f33-403d-85f3-81e47e2a8788.vsidx
.vs/CollegeWebsite2/FileContentIndex/401f66ca-7200-4c9c-9644-c78dad2ee935.vsidx
bin/Debug/net7.0/CollegeWebsite2.dll
bin/Debug/net7.0/CollegeWebsite2.dll
bin/Debug/net7.0/CollegeWebsite2.dll
*.vsidx
*.dll
*.dll
*.dll
