<!-- css bootstrap documentation: https://getbootstrap.com/docs/5.2/getting-started/introduction/  -->
{% import 'partials/macros.html' as macro %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>class deleted</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/classdeleted.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/classdeleted.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}


    <h2>user dropped from class</h2>
    <h2>if you were not dropped from the class, please ensure that the time to drop is not already past</h2>
    <h2>if you were not dropped and believe this to be in error, please contact Clearwater Community College support staff</h2>

  {{macro.footer()}}

</body>
</html>