@page "/response/classadded"
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>class added</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/classadded.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/classadded.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}


    <h2>class has been succesfully added</h2>

  {{macro.footer()}}

</body>
</html>