@page "/response/classedited"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>class edited</title>
  </head>

<body>


    <h2>class has been succesfully edited</h2>

</body>