@page "/response/emailsent"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>email sent</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/classdeleted.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/classdeleted.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}


    <h2>if the user exists, an email has been sent to the user</h2>

  {{macro.footer()}}

</body>
</html>