@page "/response/hold"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>hold</title>
  </head>

<body>
    <h2>your account has a hold, you cannot register</h2>
    <h2>hold type: {{session["hold"]}}</h2>

</body>