@page "/response/loginlocked"
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>login locked</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/loginlocked.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/loginlocked.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}


    <h1>This login has been locked for the sake of security purposes.</h1>
    <h1>Please reset your password.</h1>

  {{macro.footer()}}

</body>
</html>