@page "/response/loginlocked"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>login locked</title>
  </head>

<body>
    <h1>This login has been locked for the sake of security purposes.</h1>
    <h1>Please reset your password.</h1>
</body>