@page "/response/majorchanged"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>major changed</title>
  </head>

<body>


    <h2>Your major has been changed</h2>
    <h2>log out to apply change</h2>


  
</body>