@page "/response/minorchanged"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>minor changed</title>
  </head>

<body>

  {{ macro.header() }}


    <h2>Your minor has been changed</h2>
    <h2>log out to apply change</h2>

  
</body>