@page "/response/noclasses"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>no taught classes</title>
  </head>

<body>


    <h2>No taught classes</h2>

</body>
</html>