@page "/response/notdate"
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>date incorrect</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/classdeleted.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/classdeleted.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}


    <h2>Action blocked, not within time frame</h2>

  {{macro.footer()}}

</body>
</html>