@page "/response/notunenrolled"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>not unenrolled</title>
  </head>

<body>

    <h2>class could not unenroll from class</h2>

</body>