@page "/response/overcapacity"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>over capacity</title>
  </head>

<body>

    <h2>The class is full, you were not registered</h2>

</body>
</html>