<!-- css bootstrap documentation: https://getbootstrap.com/docs/5.2/getting-started/introduction/  -->
{% import 'partials/macros.html' as macro %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>user edited</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/useredited.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/useredited.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}


    <h2>user has been succesfully edited</h2>

  {{macro.footer()}}

</body> 
</html>