<!-- css bootstrap documentation: https://getbootstrap.com/docs/5.2/getting-started/introduction/  -->
{% import 'partials/macros.html' as macro %}
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>boilerplate</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/boilerplate.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/boilerplate.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}


    <h1>this page is not yet implemented</h1>
    <h1>note to dev: make sure to adjust lines 11 and 12 to grab the correct css and javascript files respectively</h1>
    <h1>additionally don't forget to change the title on line 9</h1>

  {{macro.footer()}}

  
</html>