<!-- css bootstrap documentation: https://getbootstrap.com/docs/5.2/getting-started/introduction/  -->
{% import 'partials/macros.html' as macro %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>media and communications</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/boilerplate.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/boilerplate.js')}}"></script>
  </head>

<body>
{{ macro.header() }}

<h1>Media and Communications <h1>


        <p> The American Studies Department offers students two distinct but interconnected undergraduate majors --
            American Studies and Media & Communications -- along with a graduate degree in Liberal Studies.

            Our programs develop within students an enhanced understanding of the meanings of citizenship and foster a
            critical understanding of events and issues defining the nation in the past and present. </p>

        <h4>Belle Leftridge</h4>
        <img src="{{ url_for('static', filename='image/departmenthead/Belle Leftridge.png') }}"
            alt="An Image Of Belle Leftridge">
        <h5>Department Head: Media and Communications </h5>
        <h5>Building: Schooling Academic Building</h5>
        <h5>Room:  SPA 125</h5>
        <h5>Phone:  (631)-664-8091</h5>
        <h5>E-mail: belleleftridge@clearwater.edu </h5>

        {{ macro.footer() }}
</body>