@page "/people/casiepanons"
<h1>Chemistry and Physics</h1>

<p> The Chemistry department is an important asset for students who enter the biological or health science
    fields. Chemistry is a vital tool for understanding the human body, biological life, and the physical
    interaction of substances throughout science.

    All students seeking to enhance their studies are encouraged to complete an academic minor to complement
    their bachelor's degree. The Chemistry department offers a minor in Chemistry allowing students to
    incorporate a study of chemistry into their academic background, making students' credentials more
    marketable during their employment search. </p>

<h4>Casie Panons</h4>
<img src= "departmenthead/Casie Panons.png" alt="An Image Of Casie Panons">
<h5>Department Head: Chemistry and Physics </h5>
<h5>Building: Schooling Academic Building</h5>
<h5>Room: SPA 175</h5>
<h5>Phone: (631)-224-5472</h5>
<h5>E-mail: casiepanons@clearwater.edu </h5>