@page "/people/maresalevings"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>american studies</title>
  </head>

<body>

  {{ macro.header() }}

<h1>American Studies</h1>


        <p>The American Studies Department offers students two distinct but interconnected undergraduate majors --
            American Studies and Media & Communications -- along with a graduate degree in Liberal Studies.

            Our programs develop within students an enhanced understanding of the meanings of citizenship and foster a
            critical understanding of events and issues defining the nation in the past and present. </p>

        <h4>Maresa Levings</h4>
        <img src= "departmenthead/Maresa Levings.png" alt="An Image Of Maresa Levings">
        <h5>Department Head: American Studies </h5>
        <h5>Building: Schooling Academic Building</h5>
        <h5>Room: SPA 250</h5>
        <h5>Phone: (631)-885-4323</h5>
        <h5>E-mail: maresalevings@clearwater.edu </h5>
</body>