@page "/people/marveleborne"
<h1>Mathematics, Computer and information Sciences</h1>


<p>The Department’s main curriculum goal is to train our students to be problem solvers, critical thinkers, and life
    long learners. To achieve this goal, we offer a broad variety of courses serving the needs of all majors at SUNY Old
    Westbury.

    For Liberal Art students we offer mathematics proficiency and computer literacy courses in which mathematics and
    information technology ideas, many of them quite applicable and intuitive, are studied to enable students to become
    educated citizens.

    Many students in more quantitative majors, from Business to Physics, take a series of mathematics and computer
    science courses required by their respective departments. These courses are offered by the Mathematics & CIS
    department, and course content is tailored to fit these students’ specialties and backgrounds. </p>

<h4>Marvel Leborne</h4>
<img src= "departmenthead/Marve Leborne.png" alt="An Image Of Marve Leborne">
<h5>Department Head: Mathematics, Computer and information Sciences</h5>
<h5>Building: Schooling Academic Building</h5>
<h5>Room: SPA 275</h5>
<h5>Phone: (631)-217-6500</h5>
<h5>E-mail: marveleborne@clearwater.edu </h5>