@page "/people/paulypitrasso"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>modern language</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/boilerplate.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/boilerplate.js')}}"></script>
  </head>


<body>

  {{ macro.header() }}
<h1>Modern Language</h1>
<p> The Modern Languages Department offers a course of study leading to a Bachelor of Arts degree (B.A.) in Spanish
    Language, Hispanic Literature and Culture. In addition, Modern Languages has established close ties with the School
    of Education to prepare students for careers as foreign language (Spanish/ Bilingual) teachers. It is also possible
    to obtain a non-teaching certificate and a minor in Spanish. </p>



<h4>Pauly Pitrasso</h4>
<img src="{{ url_for('static', filename='image/departmenthead/Pauly Pitrasso.png') }}" alt="An Image Of Pauly Pitrasso">
<h5>Department Head: Modern Language</h5>
<h5>Building: Schooling Academic Building</h5>
<h5>Room: SPA 350</h5>
<h5>Phone: (631)-387-6647</h5>
<h5>E-mail: paulypitrasso@clearwater.edu </h5>

{{ macro.footer() }}

</body>