@page "/admin/addprofessorclass"
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>add professor to class</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/boilerplate.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/boilerplate.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}


    <h2>add professor</h2>

    <form method = "Post" action = "{{ url_for('adminaddprofessorclass') }}">
        {{ form2.csrf_token }}
        {{ form2.username.label }}
        {{ form2.username }}
        {{ form2.courseid.label }}
        {{ form2.courseid }}
        
        <input type = "submit" id = "form2" name = "form2" value = "submit">
    </form>

  {{macro.footer()}}

  
</html>

 