@page "/admin/adduser"

<h2>Add user</h2>

<MudTextField @bind-Value="accountType" Label="Account Type" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="address" Label="Address" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="advisor" Label="Advisor" Variant="Variant.Outlined"></MudTextField>
<MudDatePicker @bind-Value="birthday" Label="Birthday" Variant="Variant.Outlined"></MudDatePicker>

<MudTextField @bind-Value="department" Label="Department" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="firstName" Label="First Name" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="lastName" Label="Last Name" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="major" Label="Major" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="minor" Label="Minor" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="partOrFullTime" Label="Part Or Full Time" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="phoneNumber" Label="Phone Number" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="userID" Label="User ID" Variant="Variant.Outlined"></MudTextField>



@code 
{
    //field variables
    private static string accountType { get; set; }
    private static string address { get; set; }
    private static string advisor { get; set; }
    private static DateTime birthday { get; set; }
    private static string department { get; set; }
    private static string firstName { get; set; }
    private static string lastName { get; set; }
    private static string major { get; set; }
    private static string minor { get; set; }
    private static string partOrFullTime { get; set; }
    private static string phoneNumber { get; set; }
    private static string userID { get; set; }

}
