@page "/admin/editclass"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>edit class</title>
  </head>

<body>


    <h2>edit a class</h2>
    <form method = "post" action = "/admineditclass">
      {{ form2.csrf_token }}
      {{ form2.courseid.label }}
      {{ form2.courseid }}
      <br>
      {{ form2.roomid.label }}
      {{ form2.roomid }}
      <br>
      {{ form2.buildingid.label }}
      {{ form2.buildingid }}
      <br>

      {{ form2.maxcapacity.label }}
      {{ form2.maxcapacity }}

    <input type = "submit" id = "form2" name = "form2" value = "submit">

    </form>

  
</body>