@page "/admin/removeuser"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar snackbar

<h2>Removeuser</h2>

<MudTextField @bind-Value="userID" Label="User ID" Variant="Variant.Outlined"></MudTextField>
<MudButton @onclick="submitForm" Variant="Variant.Outlined" Color="Color.Success">submit</MudButton>


@code 
{
    private static string userID { get; set; }


    private void submitForm()
    {
        bool validForm = true;

        if (userID == null)
        {
            validForm = false;
        }
    }

}
