@page "/admin/removeprofessorclass"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>remove professor from class</title>
  </head>

<body>

    <h2>remove professor (by course id)</h2>

    <form method = "Post" action = "/adminremoveprofessorclass">
        {{ form6.csrf_token }}
        {{ form6.courseid.label }}
        {{ form6.courseid }}
        
        <input type = "submit" id = "form6" name = "form6" value = "submit">
    </form>

  
</body>