@page "/admin/removeuserclass"
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>remove user from class</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/boilerplate.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/boilerplate.js')}}"></script>
  </head>

<body>

{{ macro.header() }}

    <h2>remove user</h2>

    <form method = "Post" action = "{{ url_for('adminremoveuserclass') }}">
        {{ form6.csrf_token }}
        {{ form6.slotid.label }}
        {{ form6.slotid }}
        {{ form6.studentid.label }}
        {{ form6.studentid }}
        
        <input type = "submit" id = "form6" name = "form6" value = "submit">
    </form>



  {{macro.footer()}}

  
</html>