@page "/admin/removeclass"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar snackbar

<h2>Remove class</h2>

<MudTextField @bind-Value="CRN" Label="CRN" Variant="Variant.Outlined"></MudTextField>
<MudButton @onclick="submitForm" Variant="Variant.Outlined" Color="Color.Success">submit</MudButton>


@code 
{
    Mongo mongo = new Mongo("college-site-2");

    private static string CRN { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var accountTypeCheck = await storage.GetAsync<string>("accountType");

            if (accountTypeCheck.Value != "Admin")
            {
                navigate.NavigateTo("/homepage");
            }
        }
        catch
        {
            navigate.NavigateTo("/homepage");
        }
    }

    private void submitForm()
    {
        try
        {
            bool validForm = true;
            //form validation
            if (CRN == null || CRN == "")
            {
                validForm = false;
            }

            //sanity check

            bool sanityCheck = true;

            if (validForm)
            {
                var queryClassID = mongo.LoadRecordByString<Classes>("classes", "CRN", CRN);

                //this if statement might need to be reworked, i'm not exactly sure
                //how dates work in terms of compairison operator -Nick
                if (queryClassID.StartDate.ToLocalTime() > DateTime.Today.ToLocalTime())
                {
                    sanityCheck = false;
                }
            }

            if (validForm && sanityCheck)
            {
                var queryClassesID = mongo.LoadRecordByString<Classes>("classes", "CRN", CRN);

                mongo.DeleteRecordByString<Classes>("classes", "CRN", CRN);

                snackbar.Add("Class removed successfully", Severity.Success);
            }
            else
            {
                snackbar.Add("Class was not removed successfully", Severity.Error);
            }
        }
        catch
        {
            snackbar.Add("Class was not removed successfully", Severity.Error);
        }
    }

}
