@page "/admin/removeuser"

<h2>Removeuser</h2>

<MudTextField @bind-Value="UserID" Label="User ID" Variant="Variant.Outlined"></MudTextField>
<MudButton @onclick="submitForm" Variant="Variant.Outlined" Color="Color.Success">submit</MudButton>


@code 
{
    private string UserID { get; set; }


    private void submitForm()
    {

    }

}
