@page "/admin/removeuserclass"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>remove user from class</title>
  </head>

<body>

    <h2>remove user</h2>

    <form method = "Post" action = "{{ url_for('adminremoveuserclass') }}">
        {{ form6.csrf_token }}
        {{ form6.slotid.label }}
        {{ form6.slotid }}
        {{ form6.studentid.label }}
        {{ form6.studentid }}
        
        <input type = "submit" id = "form6" name = "form6" value = "submit">
    </form>

  
</body>