@page "/admin/removeclass"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>remove class</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/boilerplate.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/boilerplate.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}


    <h2>remove a class</h2>

    <br><br>
    <!-- #courseID = form.couseid.data, timeslot = form.timeslot.data, day = form.day.data  -->
    <form method = "Post" action = "{{ url_for('adminremoveclass') }}">
      {{ form1.csrf_token }}
      {{ form1.courseid.label }}
      {{ form1.courseid }}
      {{ form1.timeslot.label }}
      {{ form1.timeslot }}
      {{ form1.day.label }}
      {{ form1.day }}

      <input type = "submit" id = "form1" name = "form1" value = "submit">
    </form>

  {{macro.footer()}}

  
</html>