@page "/admin/removeuser"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar snackbar

<h2>Remove user</h2>

<MudTextField @bind-Value="userID" Label="User ID" Variant="Variant.Outlined"></MudTextField>
<MudButton @onclick="submitForm" Variant="Variant.Outlined" Color="Color.Success">submit</MudButton>


@code 
{
    Mongo mongo = new Mongo("college-site-2");

    private static string userID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var accountTypeCheck = await storage.GetAsync<string>("accountType");

        if (accountTypeCheck.Value != "Admin")
        {
            navigate.NavigateTo("/homepage");
        }
    }




    private void submitForm()
    {
        bool validForm = true;

        if (userID == null || userID == "")
        {
            validForm = false;
        }

        if (validForm)
        {
            var queryAllUserID = mongo.LoadRecordByString<AllUser>("allUser", "UserID", userID);

            mongo.DeleteRecordById<AllUser>("allUser", queryAllUserID.Id);
            snackbar.Add("User was removed successfully", Severity.Success);
        }
        else
        {
            snackbar.Add("User was not removed successfully", Severity.Error); 
        }
    }

}
