@page "/admin/removeuserclass"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar snackbar

<h2>Remove user from class</h2>

<MudTextField @bind-Value="userID" Label="User ID" Variant="Variant.Outlined"></MudTextField>
<MudNumericField @bind-Value="courseID" Label="Course ID" Variant="Variant.Outlined" Min="1000" Max="9999"></MudNumericField>
<MudButton @onclick="submitForm" Variant="Variant.Outlined" Color="Color.Success">submit</MudButton>



@code
{
    private static string userID { get; set; }
    private static int courseID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var accountTypeCheck = await storage.GetAsync<string>("accountType");

        if (accountTypeCheck.Value != "Admin")
        {
            navigate.NavigateTo("/homepage");
        }
    }


    private void submitForm()
    {
        bool validForm = true;

        if (userID == null || userID == "")
        {
            validForm = false;
        }
        else if (courseID == null || !(courseID >= 1000 && courseID <= 9999))
        {
            validForm = false;
        }
    }
}

