@page "/admin/sendpasswordreset"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar snackbar


<h2>Sendpasswordreset</h2>

<MudTextField @bind-Value="email" Label="Email" Variant="Variant.Outlined"></MudTextField>
<MudButton @onclick="submitForm" Variant="Variant.Outlined" Color="Color.Success">submit</MudButton>

@code 
{
    private static string? email { get; set; }

    private void submitForm()
    {
        
    }
}
