<!-- css bootstrap documentation: https://getbootstrap.com/docs/5.2/getting-started/introduction/  -->
{% import 'partials/macros.html' as macro %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>unlock account</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/unlockaccount.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/unlockaccount.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}

    <h2>unlock account:</h2>
    <form method = "Post" action = "{{ url_for('adminunlockaccount') }}">
      {{ form.csrf_token }}
      {{ form.username.label }}
      {{ form.username }}

      <input type = "submit" value = "submit">
    </form>

  {{macro.footer()}}

</body>
</html>