@page "/admin/viewschedule"
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>view schedule</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/boilerplate.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/boilerplate.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}

  <h2>view schedule</h2>
  <form method = "Post" action = "{{ url_for('adminviewschedule') }}">
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username }}

    <input type = "submit" id = "form" name = "form" value = "submit" >
  </form>


  {{macro.footer()}}

  
</html>