@page "/admin/viewsemestertranscript"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>view semester and transcript</title>
  </head>

<body>


  <h2>view semester and transcript</h2>
  <form method = "Post" action = "{{ url_for('adminviewallusers') }}">
    {{ form3.csrf_token }}
    {{ form3.username.label }}
    {{ form3.username }}

    <input type = "submit" id = "form3" name = "form3" value = "submit" >
  </form>
  
</html>