@page "/admin/viewallusers"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>view all users</title>
  </head>

<body>

 

     <div>
        <table class = "userTable">
            <thead>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Account Type</th>
                <th>Time</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Credits Earned</th>
                <th>Holds</th>
            </tr>
            </thead>
            <tbody>

            {% for users in user %}
                <tr class = "list item">
                <td>{{ users["id"] }}</td>
                <td>{{ users["FirstName"] }}</td>
                <td>{{ users["LastName"] }}</td>
                <td>{{ users["Email"] }}</td>
                <td>{{ users["AccountType"] }}</td>
                <td>{{ users["PartorFullTime"] }}</td>
                <td>{{ users["Address"] }}</td>
                <td>{{ users["PhoneNumber"] }}</td>
                <td>{{ users["CreditsEarned"] }}</td>
                <td>{{ users["Holds"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <div id = "tablePagination"></div>
    </div>



</body>