@page "/admin/viewschedule"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>view schedule</title>
  </head>

<body>

  <h2>view schedule</h2>
  <form method = "Post" action = "/adminviewschedule"
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username }}

    <input type = "submit" id = "form" name = "form" value = "submit" >
  </form>

  
</body>