@page "/admin/viewusers"

<h2>View users</h2>

<MudTextField @bind-Value="userID" Label="User ID" Variant="Variant.Outlined"></MudTextField>

@code 
{
    private static string userID { get; set; }
}
