@page "/graduate/dropclass"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>drop class</title>
  </head>

<body>

  <h2>drop from class</h2>
    <form method = "Post" action = "{{ url_for('undergraduatedropclass') }}">
    {{ form.csrf_token }}
    {{ form.courseid.label }}
    {{ form.courseid }}

    <input type = "submit" id = "form" name = "form" value = "submit">
    </form>

  
</body>