<!-- css bootstrap documentation: https://getbootstrap.com/docs/5.2/getting-started/introduction/  -->
{% import 'partials/macros.html' as macro %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>view degree audit</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/viewdegreeaudit.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/viewdegreeaudit.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}

    <div>
        <table class = "userTable">
            <thead>
            <th>major: {{ session["major"].Major }}</th>
            <th>completed</th>
            </thead>
            <tbody>

            {% for x in session["major"].MajorRequirements %}
                <tr class = "list item">
                <td>{{ x }}</td>
                {% if majorCompletion == [] %}
                    <td>not started</td>
                {% elif majorCompletion != [] %}
                <td>{{majorCompletion[loop.index0]}}</td>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
        <div id = "tablePagination"></div>
    </div>

    <div>
        <table class = "userTable">
            <thead>
            <th>minor: {{ session["minor"].Minor }}</th>
            <th> completed </th>
            </thead>
            <tbody>

            {% for x in session["minor"].MinorRequirements %}
                <tr class = "list item">
                <td>{{ x }}</td>
                {% if minorCompletion == [] %}
                    <td>not started</td>
                {% elif minorCompletion != [] %}
                <td>{{minorCompletion[loop.index0]}}</td>
                {% endif %}
                
            {% endfor %}
        </tbody>
        </table>
        <div id = "tablePagination"></div>
    </div>


  {{macro.footer()}}




</body>  
</html>