@page "/undergraduate/adjustlogin"

@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar snackbar

<h2>Adjust User Login</h2>


@code{

protected override async Task OnInitializedAsync()
    {
        var accountTypeCheck = await storage.GetAsync<string>("accountType");

        if (accountTypeCheck.Value != "Undergraduate")
        {
            navigate.NavigateTo("/homepage");
        }
    }


private void mailTrapTest()
{
  Mailtrap mail = new Mailtrap();
  mail.sendMail("sender@test.com", "reciever@test.com", "email subject", "body of email");
}
}