@page "/undergraduate/viewdegreeaudit"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>view degree audit</title>
  </head>

<body>

  {{ macro.header() }}

    <div>
        <table class = "userTable">
            <thead>
            <th>major: {{ session["major"].Major }}</th>
            <th>completed</th>
            </thead>
            <tbody>

            {% for x in session["major"].MajorRequirements %}
                <tr class = "list item">
                <td>{{ x }}</td>
                {% if majorCompletion == [] %}
                    <td>not started</td>
                {% elif majorCompletion != [] %}
                <td>{{majorCompletion[loop.index0]}}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
        <div id = "tablePagination"></div>
    </div>

    <div>
        <table class = "userTable">
            <thead>
            <th>minor: {{ session["minor"].Minor }}</th>
            <th> completed </th>
            </thead>
            <tbody>

            {% for x in session["minor"].MinorRequirements %}
                <tr class = "list item">
                <td>{{ x }}</td>
                {% if minorCompletion == [] %}
                    <td>not started</td>
                {% elif minorCompletion != [] %}
                <td>{{minorCompletion[loop.index0]}}</td>
                </tr>
                {% endif %}
                
            {% endfor %}
        </tbody>
        </table>
        <div id = "tablePagination"></div>
    </div>




</body>