@page "/undergraduate/viewcourses"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>view courses</title>
  </head>

<body>

  {{ macro.header() }}

<div>
        <table class = "userTable">
            <thead>
            <th>
              <th>Course Name</th>
              <th>Type</th>
              <th>Prequisite</th>
              <th>Course Name</th>
              <th>Department</th>
              <th>Description</th>
              
            </th>
            </thead>
            <tbody>

            {% for klasses in klass %}
                <th class = "list item">
                <td>{{ klasses.CourseName }}</td>
                <td>{{ klasses.Type }}</td>
                <td>{{ klasses.Prerequiste }}</td>
                <td>{{ klasses.MinimumRequirements }}</td>
                <td>{{ klasses.Department }}</td>
                <td>{{ klasses.Description }}</td>
                </th>
               
                
            {% endfor %}
        </tbody>
        </table>
        <div id = "tablePagination"></div>
    </div>

</body>