@page "/faculty/attendance"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>attendance</title>
  </head>

<body>
  
<h2>attendance</h2>
    <form method = "Post" action = "{{ url_for('facultyattendance') }}">
    {{ form4.csrf_token }}
    {{ form4.email.label }}
    {{ form4.email }}
    {{ form4.grade.label }}
    {{ form4.grade }}
    {{ form4.position.label }}
    {{ form4.position }}
    
    <input type = "submit" id = "form4" name = "form4" value = "submit">
    </form>

  {{macro.footer()}}

  
</body>