@page "/faculty/givegrade"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>give grade</title>
  </head>

<body>
  
<h2>grade form</h2>
        <form method = "Post" action = "{{ url_for('facultygivegrade') }}">
          {{ form2.csrf_token }}
          {{ form2.slotid.label }}
          {{ form2.slotid}}
          {{ form2.classid.label }}
          {{ form2.classid }}
          {{ form2.grade.label }}
          {{ form2.grade }}
      <input type = "submit" id = "form2" name = "form2" value = "submit" >
    </form>

  
</html>