@page "/faculty/removeattendance"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>remove attendance</title>
  </head>

<body>
  
    <h2>remove attendance</h2>
    <form method = "Post" action = "{{ url_for('facultyremoveattendance') }}">
    {{ form5.csrf_token }}
    {{ form5.email.label }}
    {{ form5.email }}
    {{ form5.grade.label }}
    {{ form5.grade }}
    {{ form5.position.label }}
    {{ form5.position }}
    
    <input type = "submit" id = "form5" name = "form5" value = "submit">
    </form>
    </body>