<!-- css bootstrap documentation: https://getbootstrap.com/docs/5.2/getting-started/introduction/  -->
{% import 'partials/macros.html' as macro %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>view taught classes</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/viewtaughtclassses.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/viewtaughtclassses.js')}}"></script>
  </head>

<body>
{{ macro.header() }}

    <div>

        <h2>{{course1.CourseName}} (crn: {{course1.Crn}} | course id: {{course1.id}})</h2>
        <table class = "userTable">
            <thead>
                <th>slot id</th>
                <th>student id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Holds</th>
                <th>Grades</th>
                <th>Attendance</th>
                <th>Student Advisor</th>
            </thead>


            <tbody>
            {% for x in course1.Enrolled %}
            <tr>
                <td>{{loop.index0}}</td>
                <td>{{course1.Enrolled[loop.index0]}}</td>
                <td>{{userList[loop.index0]}}</td>
                <td>{{userEmail[loop.index0]}}</td>
                <td>{{holdStatus[loop.index0]}}</td>
                <td><button id = "grade1{{loop.index}}" class = "btncolor" onclick="getDescription('#grade1{{loop.index}}')" data-description = "{{course1.Grades}}">View Grades</button></td>
                <td><button id = "desc1{{loop.index}}" class = "btncolor" onclick="getDescription('#desc1{{loop.index}}')" data-description = "{{course1.Attendance}}">View Attendance</button></td>
                <td>{{advisor[loop.index0]}}</td>
            </tr>
            {% endfor %}
            </tbody>


        </table>

        
        <h2>{{course2.CourseName}} (crn: {{course2.Crn}} | course id: {{course2.id}})</h2>
        <div>
        <table class = "userTable">
            <thead>
                <th>slot id</th>
                <th>student id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Holds</th>
                <th>Grades</th>
                <th>Attendance</th>
                <th>Student Advisor</th>
            </thead>


            <tbody>
            {% for x in course2.Enrolled %}
                <tr>
                <td>{{loop.index0}}</td>
                <td>{{course2.Enrolled[loop.index0]}}</td>
                <td>{{userList2[loop.index0]}}</td>
                <td>{{userEmail2[loop.index0]}}</td>
                <td>{{holdStatus2[loop.index0]}}</td>
                <td><button id = "grade2{{loop.index}}" class = "btncolor" onclick="getDescription('#grade2{{loop.index}}')" data-description = "{{course2.Grades}}">View Grades</button></td>
                <td><button id = "desc2{{loop.index}}" class = "btncolor" onclick="getDescription('#desc2{{loop.index}}')" data-description = "{{course2.Attendance}}">View Attendance</button></td>
                <td>{{advisor2[loop.index0]}}</td>
                </tr>
            {% endfor %}
            </tbody>


        </table>

{{ macro.footer() }}
</body>
</html>