@page "/faculty/viewstudents"
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>view students</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/viewstudents.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/viewstudents.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}

    <div>
        <table class = "userTable">
            <thead>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Account Type</th>
                <th>Time</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Credits Earned</th>
                <th>Holds</th>
                <th>Advisor</th>
            </tr>
            </thead>
            <tbody>

            {% for users in user %}
                <tr class = "list item">
                <td>{{ users["id"] }}</td>
                <td>{{ users["FirstName"] }}</td>
                <td>{{ users["LastName"] }}</td>
                <td>{{ users["Email"] }}</td>
                <td>{{ users["AccountType"] }}</td>
                <td>{{ users["PartorFullTime"] }}</td>
                <td>{{ users["Address"] }}</td>
                <td>{{ users["PhoneNumber"] }}</td>
                <td>{{ users["CreditsEarned"] }}</td>
                <td>{{ users["Holds"] }}</td>
                <td>{{ users["Advisor"]["FirstName"] }} {{ users["Advisor"]["LastName"] }}</td>
            {% endfor %}

            {% for users in user2 %}
                <tr class = "list item">
                <td>{{ users["id"] }}</td>
                <td>{{ users["FirstName"] }}</td>
                <td>{{ users["LastName"] }}</td>
                <td>{{ users["Email"] }}</td>
                <td>{{ users["AccountType"] }}</td>
                <td>{{ users["PartorFullTime"] }}</td>
                <td>{{ users["Address"] }}</td>
                <td>{{ users["PhoneNumber"] }}</td>
                <td>{{ users["CreditsEarned"] }}</td>
                <td>{{ users["Holds"] }}</td>
                <td>{{ users["Advisor"]["FirstName"] }} {{ users["Advisor"]["LastName"] }}</td>
            {% endfor %}
        </tbody>
        </table>
        <div id = "tablePagination"></div>
    </div>

    <h2>view student grades</h2>
    <form method = "Post" action = "{{ url_for('facultyviewstudents') }}">
      {{ form.csrf_token }}
      {{ form.username.label }}
      {{ form.username }}

      <input type = "submit" id = "form" name = "form" value = "submit" >
    </form>

    

  {{macro.footer()}}

  
</html>