@page "/visitor/viewcourses"
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>view courses</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/viewcourses.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/viewcourses.js')}}"></script>
  </head>

<body>

  {{ macro.header() }}


                <table class = "userTable">
            <thead>
            <tr>
              <th>Course Name</th>
              <th>Type</th>
              <th>Prequisite</th>
              <th>Department</th>
              <th>Description</th>
              <th>Minimum Requirements</th>
            </tr>
            </thead>
            <tbody>

            {% for klasses in klass %}
                <tr class = "list item">
                <td>{{ klasses.CourseName }}</td>
                <td>{{ klasses.Type }}</td>
                <td>{{ klasses.Prerequiste }}</td>
                <td>{{ klasses.Department }}</td>
                <td>{{ klasses.Description }}</td>
                <td>{{ klasses.MinimumRequirements }}</td>
                
            {% endfor %}
        </tbody>
        </table>
        <div id = "tablePagination"></div>
    </div>

  {{macro.footer()}}

  
</html>