@page "/visitor/viewrequirements"

<h2>majors</h2>


<MudExpansionPanels MultiExpansion="false">
    <MudExpansionPanel Text="Criminology">
        <ol>
            @for (int i = 0; i < course0.Length; i++)
            {
                <li>@course0[i] (@grade0[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="English">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>
</MudExpansionPanels>

<h2>minors</h2>

@code
{
    bool open;
    Anchor anchor;

    Mongo mongo = new Mongo("college-site-2");
    List<Majors> queryMajor;
    string[] course0;
    string[] grade0;
    string[] course1;
    string[] grade1;

    protected override async Task OnInitializedAsync()
    {
        queryMajor = mongo.LoadRecord<Majors>("majors");

        course0 = queryMajor[0].MajorRequirements.ToArray();
        grade0 = queryMajor[0].GradeRequirements.ToArray();
        
        course1 = queryMajor[1].MajorRequirements.ToArray();
        grade1 = queryMajor[1].GradeRequirements.ToArray();
        
    }


}
