@inject ProtectedLocalStorage storage
@inject NavigationManager navigate


            <!-- header -->
            <nav class="navbar sticky-top bg-dark">

                <ul class="navbar-nav">

                    <li = class="nav-item">
                        <button type="button" class="btncolor" aria-expanded="false">
                            <a class="nav-link" href="/homepage">homepage</a>
                        </button>
                    </li>
                </ul>


                <div class="btn-group">
                    <button type="button" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item dropdowncolor" href="/about">About</a></li>
                        <li><a class="dropdown-item dropdowncolor" href="/about/accreditationcertification">Accreditations and Certifications</a></li>
                        <li><a class="dropdown-item dropdowncolor" href="/about/collegeleadership">College Leadership</a></li>
                        <li><a class="dropdown-item dropdowncolor" href="/about/missionvision">Mission and Vision</a></li>
                        <li><a class="dropdown-item dropdowncolor" href="/about/rankingdistinctions">Ranking Distinctions</a></li>
                    </ul>
                </div>

                <!-- {% if session["loggedIn"] == False or session["loggedIn"] is not defined %} -->
                @if (accountType == "Visitor")
                {
                    <ul class=navbar-nav>
                        <li class="nav-item">
                            <button type="button" class="btncolor" aria-expanded="false">
                                <a class="nav-link" href="/visitor/masterschedule">master schedule</a>
                            </button>
                        </li>
                    </ul>

                    <ul class=navbar-nav>
                        <li class="nav-item">
                            <button type="button" class="btncolor" aria-expanded="false">
                                <a class="nav-link" href="/visitor/viewcourses">view courses</a>
                            </button>
                        </li>
                    </ul>

                    <ul class=navbar-nav>
                        <li class="nav-item">
                            <button type="button" class="btncolor" aria-expanded="false">
                                <a class="nav-link" href="/visitor/viewrequirements">view requirements</a>
                            </button>
                        </li>
                    </ul>
                }


                <!-- {% if session["accountType"] == "Undergraduate" %} -->
                @if (accountType == "Undergraduate")
                {
                    <div class="btn-group">
                        <button type="button" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item dropdowncolor" href="/undergraduate/signup">add classes</a>
                            <a class="dropdown-item dropdowncolor" href="/undergraduate/changemajorminor">add/drop majors/minors </a>
                            <a class="dropdown-item dropdowncolor" href="/undergraduate/dropclass">drop class</a>
                            <a class="dropdown-item dropdowncolor" href="/undergraduate/adjustlogin">adjust login</a>
                        </ul>
                    </div>


                    <div class="btn-group">
                        <button type="button" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            View
                        </button>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item dropdowncolor" href="/undergraduate/viewcoursecatalog">view course catalog</a>
                            <a class="dropdown-item dropdowncolor" href="/undergraduate/viewcurrentclasses">view current classes </a>
                            <a class="dropdown-item dropdowncolor" href="/undergraduate/viewdegreeaudit">view degree audit </a>
                            <a class="dropdown-item dropdowncolor" href="/undergraduate/masterschedule">master schedule</a>
                            <a class="dropdown-item dropdowncolor" href="/undergraduate/viewrequirements">view requirements</a>
                            <a class="dropdown-item dropdowncolor" href="/undergraduate/viewschedule">view schedule/transcript</a>
                        </ul>
                    </div>
                }

                <!--  {% if session["accountType"] == "Graduate" %} -->
                @if (accountType == "Graduate")
                {
                    <div class="btn-group">
                        <button type="button" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item dropdowncolor" href="/graduate/signup">add classes</a>
                            <a class="dropdown-item dropdowncolor" href="/graduate/changemajorminor">add/drop majors/minors </a>
                            <a class="dropdown-item dropdowncolor" href="/graduate/dropclass">drop class</a>
                            <a class="dropdown-item dropdowncolor" href="/graduate/adjustlogin">adjust login</a>
                        </ul>
                    </div>


                    <div class="btn-group">
                        <button type="button" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            View
                        </button>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item dropdowncolor" href="/graduate/viewcoursecatalog">view course catalog</a>
                            <a class="dropdown-item dropdowncolor" href="/graduate/viewcurrentclasses">view current classes </a>
                            <a class="dropdown-item dropdowncolor" href="/graduate/viewdegreeaudit">view degree audit </a>
                            <a class="dropdown-item dropdowncolor" href="/graduate/masterschedule">master schedule</a>
                            <a class="dropdown-item dropdowncolor" href="/graduate/viewrequirements">view requirements</a>
                            <a class="dropdown-item dropdowncolor" href="/graduate/viewschedule">view schedule/transcript</a>
                        </ul>
                    </div>
                }



                <!-- {% if session["accountType"] == "Admin" %} -->
                @if (accountType == "Admin")
                {
                    <div class="btn-group">
                        <button type="button" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Classes
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item dropdowncolor" href="/admin/addclasssection">add class section</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/addnewcourse">add class</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/removeclass">remove class</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/removeuser">remove user</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/addprofessorclass">add professor</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/adduserclass">add user to class</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/removeprofessorclass">remove professor from class</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/removeuserclass">remove user from class</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/editclass">edit class</a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            View
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item dropdowncolor" href="/admin/masterschedule">master schedule</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/viewallcourses">view all courses</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/viewallusers">view all users</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/viewcurrentclasses">view current classes</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/viewrequirements">view requirements</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/viewschedule">view schedule</a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Users
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item dropdowncolor" href="/admin/unlockaccount">unlock account</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/adjustlogin">adjust login</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/adduser">add user</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/edituser">edit user</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/admin/sendpasswordreset">send password reset</a></li>
                        </ul>
                    </div>
                }

                <!-- {% if session["accountType"] == "Faculty" %} -->
                @if (accountType == "Faculty")
                {
                    <div class="btn-group">
                        <button type="button" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item dropdowncolor" href="/faculty/adjustlogin">adjust login</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/faculty/givegrade">give grade</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/faculty/takeattendance">take attendance</a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            View
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item dropdowncolor" href="/faculty/viewcourses">view courses</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/faculty/viewrequirements">view requirements</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/faculty/viewstudents">view students</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/faculty/viewtaughtclasses">view taught classes</a></li>
                            <li><a class="dropdown-item dropdowncolor" href="/faculty/viewusergrades">view user grades</a></li>
                        </ul>
                    </div>
                }

                <!-- {% if session["loggedIn"] == False or session["loggedIn"] is not defined %} -->
                @if (!loggedIn)
                {
                    <ul class=navbar-nav>
                        <li = class="nav-item">
                            <button type="button" class="btncolor" aria-expanded="false">
                                <a class="nav-link" href="/login">login</a>
                            </button>
                        </li>
                    </ul>
                }

                <!-- {% if session["loggedIn"] == True %} -->
                @if (loggedIn == true)
                {
                    <ul class=navbar-nav>
                        <li = class="nav-item">
                            <button type="button" class="btncolor" aria-expanded="false">
                                <a class="nav-link" href="/logout">logout</a>
                            </button>
                        </li>
                    </ul>
                }


            </nav>


@code
{
    private bool loggedIn { get; set; } = false;
    private string accountType { get; set; } = "Visitor";

    protected override async Task OnInitializedAsync()
    {

        Console.WriteLine("\n\n\n program initalization \n\n\n");

        var loggedInCheck = await storage.GetAsync<bool>("loggedIn");
        loggedIn = loggedInCheck.Value;

        var accountTypeCheck = await storage.GetAsync<string>("accountType");

        if (accountTypeCheck.Value != null)
        {
            accountType = accountTypeCheck.Value;
        }
        else
        {
            accountType = "Visitor";
        }

    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("\n\n\n on after render called \n\n\n");
        if (firstRender)
        {
            
        }
    }
}