@inject ProtectedLocalStorage storage
@inject NavigationManager navigate



    <MudToolBar>
    <MudButton @onclick="toggleDrawer" class="btncolor" Variant="Variant.Outlined">Options</MudButton>

    </MudToolBar>

<MudDrawerContainer Class="mud-height-full drawerColor" @onmouseleave="toggleDrawer">
    <MudDrawer @bind-Open="@openStart" Class="drawerColorHead" Anchor="Anchor.Start" Elevation="0">
        <MudDrawerHeader Class="drawerColorHead">
            <MudText Style="color: rgb(165, 7, 197); font-size: 30px">Options Menu</MudText>
        </MudDrawerHeader>
       
        @if (!loggedIn)
        {
            <a href="/login" class="btncolor" style="text-align: center; color: rgb(255, 219, 26);">login</a>
        }

        @if (loggedIn == true)
        {
            <a href="/logout" class="btncolor" style="text-align: center; color: rgb(255, 219, 26);">logout</a>
        }

        <a href="/homepage" class="btncolor" style="text-align: center; color: rgb(255, 219, 26);">homepage</a>

        <button type="button" @onclick="aboutToggle" class="btncolor dropdown-toggle">
            About
        </button>

        @if (@aboutToggleSwitch)
        {
            <a class="dropdown-item dropdowncolor" href="/about">About</a>
            <a class="dropdown-item dropdowncolor" href="/about/accreditationcertification">Accreditations and Certifications</a>
            <a class="dropdown-item dropdowncolor" href="/about/collegeleadership">College Leadership</a>
            <a class="dropdown-item dropdowncolor" href="/about/missionvision">Mission and Vision</a>
            <a class="dropdown-item dropdowncolor" href="/about/rankingdistinctions">Ranking Distinctions</a>
        }


        <button type="button" @onclick="viewToggle" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            View
        </button>
        @if (@viewToggleSwitch)
        {
            @if (accountType == "Visitor" || accountType == "")
            {
                <a class="dropdown-item dropdowncolor" href="/visitor/masterschedule">master schedule</a>
                <a class="dropdown-item dropdowncolor" href="/visitor/viewcourses">view courses</a>
                <a class="dropdown-item dropdowncolor" href="/visitor/viewrequirements">view requirements</a>
                <a class="dropdown-item dropdowncolor" href="/visitor/timewindow">view time windows</a>
                <a class="dropdown-item dropdowncolor" href="/visitor/buildings">view buildings</a>
            }

            @if (accountType == "Undergraduate")
            {
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewcourses">view courses</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/masterschedule">master schedule</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/buildings">buildings</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewdegreeaudit">view degree audit</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewtranscript">view transcript</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewschedule">view schedule</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewcourses">view courses</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewrequirements">view requirements</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/timewindow">time window</a>
                
            }

            @if (accountType == "Graduate")
            {
                <a class="dropdown-item dropdowncolor" href="/graduate/viewcourses">view courses</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/masterschedule">master schedule</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/buildings">buildings</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/viewdegreeaudit">view degree audit</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/viewtranscript">view transcript</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/viewschedule">view schedule</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/viewcourses">view courses</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/viewrequirements">view requirements</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/timewindow">time window</a>
            }

            @if (accountType == "Admin")
            {
                <a class="dropdown-item dropdowncolor" href="/admin/masterschedule">master schedule</a>
                <a class="dropdown-item dropdowncolor" href="/admin/viewcourses">view courses</a>
                <a class="dropdown-item dropdowncolor" href="/admin/viewusers">view users</a>
                <a class="dropdown-item dropdowncolor" href="/admin/viewcurrentclasses">view current classes</a>
                <a class="dropdown-item dropdowncolor" href="/admin/viewrequirements">view requirements</a>
                <a class="dropdown-item dropdowncolor" href="/admin/viewuserrecord/input">view user record</a>
                <a class="dropdown-item dropdowncolor" href="/admin/viewstudentgrade/input">view student grades</a>
                <a class="dropdown-item dropdowncolor" href="/admin/timewindow">view time windows</a>
                <a class="dropdown-item dropdowncolor" href="/admin/buildings">view buildings</a>
            }

            @if (accountType == "Faculty")
            {
                <a class="dropdown-item dropdowncolor" href="/faculty/masterschedule">master schedule</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/viewrequirements">view majors and minors</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/viewcourses">view courses</a>
            }

        }

        @if  (accountType == "Faculty" || accountType == "Undergraduate" || accountType == "Graduate")
        {
            <button type="button" @onclick="actionToggle" class="btncolor dropdown-toggle">
                Action
            </button>
        }
        
        @if (actionToggleSwitch)
        {

            @if (accountType == "Faculty")
            {
                <a class="dropdown-item dropdowncolor" href="/faculty/viewclasses">classes</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/viewfacultyschedule">view faculty schedule</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/searchstudents">search students</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/student grade">student grades</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/degree audit">degree audit</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/advisee">advisee</a>
            }

            @if (accountType == "Undergraduate")
            {
                <a class="dropdown-item dropdowncolor" href="/undergraduate/signup">add classes</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/changemajorminor">edit majors/minors </a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/dropclass">drop class</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/adjustlogin">adjust login</a>

            }

            @if (accountType == "Graduate")
            {
                <a class="dropdown-item dropdowncolor" href="/graduate/signup">add classes</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/changemajorminor">edit majors/minors </a>
                <a class="dropdown-item dropdowncolor" href="/graduate/dropclass">drop class</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/adjustlogin">adjust login</a>
            }
        }

        @if (accountType == "Admin")
        {
            <button type="button" @onclick="classesToggle" class="btncolor dropdown-toggle">
                Classes
            </button>
        }
       
        @if (classesToggleSwitch)
        {
            @if (accountType == "Admin")
            {
                <a class="dropdown-item dropdowncolor" href="/admin/addclasssection">add class</a>
                <a class="dropdown-item dropdowncolor" href="/admin/addnewcourse">add course</a>
                <a class="dropdown-item dropdowncolor" href="/admin/removeclass">remove class</a>
                <a class="dropdown-item dropdowncolor" href="/admin/addprofessorclass">add professor</a>
                <a class="dropdown-item dropdowncolor" href="/admin/adduserclass">add user to class</a>
                <a class="dropdown-item dropdowncolor" href="/admin/removeprofessorclass">remove professor from class</a>
                <a class="dropdown-item dropdowncolor" href="/admin/removeuserclass">remove user from class</a>
                <a class="dropdown-item dropdowncolor" href="/admin/editclass">edit class</a>
                <a class="dropdown-item dropdowncolor" href="/admin/removecourse">remove course</a>
            }

        }

        @if (accountType == "Admin")
        {
            <button type="button" @onclick="usersToggle" class="btncolor dropdown-toggle">
                Users
            </button>
        }
        @if (usersToggleSwitch)
        {
            <a class="dropdown-item dropdowncolor" href="/admin/unlockaccount">unlock account</a>
            <a class="dropdown-item dropdowncolor" href="/admin/adduser">add user</a>
            <a class="dropdown-item dropdowncolor" href="/admin/edituser">edit user</a>
            <a class="dropdown-item dropdowncolor" href="/admin/sendpasswordreset">send password reset</a>
            <a class="dropdown-item dropdowncolor" href="/admin/changeholdstatus">edit user hold status</a>
            <a class="dropdown-item dropdowncolor" href="/admin/removeuser">remove user</a>
        }

        @if (accountType == "Faculty")
        {
            <button type="button" @onclick="displayToggle" class="btncolor dropdown-toggle">
                Display
            </button>
        }

        @if (displayToggleSwitch)
        {
            <a class="dropdown-item dropdowncolor" href="/faculty/studentinfo">student info</a>
            <a class="dropdown-item dropdowncolor" href="/faculty/enrolledinfo">enrolled info</a>
            <a class="dropdown-item dropdowncolor" href="/faculty/classinfo">class info</a>
            <a class="dropdown-item dropdowncolor" href="/faculty/attendanceinfo">attendance info</a>
            <a class="dropdown-item dropdowncolor" href="/faculty/gradesinfo">grades info</a>
        }



    </MudDrawer>
</MudDrawerContainer>

@code
{
    private bool loggedIn { get; set; } = false;
    private string accountType { get; set; } = "Visitor";

    private bool openStart = false;
    private bool aboutToggleSwitch = false;
    private bool viewToggleSwitch = false;
    private bool actionToggleSwitch = false;
    private bool classesToggleSwitch = false;
    private bool usersToggleSwitch = false;
    private bool displayToggleSwitch = false;

    protected override async Task OnInitializedAsync()
    {

        Console.WriteLine("\n\n\n program initalization \n\n\n");

        var loggedInCheck = await storage.GetAsync<bool>("loggedIn");
        loggedIn = loggedInCheck.Value;

        var accountTypeCheck = await storage.GetAsync<string>("accountType");

        if (accountTypeCheck.Value != null)
        {
            accountType = accountTypeCheck.Value;
        }
        else
        {
            accountType = "Visitor";
        }

    }

    private void toggleDrawer()
    {
        openStart = !openStart;
    }

    private void aboutToggle()
    {
        aboutToggleSwitch = !aboutToggleSwitch;
    }

    private void viewToggle()
    {
        viewToggleSwitch = !viewToggleSwitch;
    }

    private void actionToggle()
    {
        actionToggleSwitch = !actionToggleSwitch;
    }

    private void classesToggle()
    {
        classesToggleSwitch = !classesToggleSwitch;
    }

    private void usersToggle()
    {
        usersToggleSwitch = !usersToggleSwitch;
    }

    private void displayToggle()
    {
        displayToggleSwitch = !displayToggleSwitch;
    }

}