@inject ProtectedLocalStorage storage
@inject NavigationManager navigate



    <MudToolBar>
    <MudButton @onclick="toggleDrawer" class="btncolor" Variant="Variant.Outlined">Options</MudButton>

    </MudToolBar>

<MudDrawerContainer Class="mud-height-full drawerColor" @onmouseleave="toggleDrawer">
    <MudDrawer @bind-Open="@openStart" Class="drawerColorHead" Anchor="Anchor.Start" Elevation="0">
        <MudDrawerHeader Class="drawerColorHead">
            <MudText Typo="Typo.h5" Style="color: rgb(165, 7, 197);">Options Menu</MudText>
        </MudDrawerHeader>
       
        @if (!loggedIn)
        {
            <a href="/login" class="btncolor" style="text-align: center; color: rgb(255, 219, 26);">login</a>
        }

        @if (loggedIn == true)
        {
            <a href="/logout" class="btncolor" style="text-align: center; color: rgb(255, 219, 26);">logout</a>
        }

        <a href="/homepage" class="btncolor" style="text-align: center; color: rgb(255, 219, 26);">homepage</a>

        <button type="button" @onclick="aboutToggle" class="btncolor dropdown-toggle">
            About
        </button>

        @if (@aboutToggleSwitch)
        {
            <a class="dropdowncolor" href="/about">About</a>
            <a class="dropdowncolor" href="/about/accreditationcertification">Accreditations and Certifications</a>
            <a class="dropdowncolor" href="/about/collegeleadership">College Leadership</a>
            <a class="dropdowncolor" href="/about/missionvision">Mission and Vision</a>
            <a class="dropdowncolor" href="/about/rankingdistinctions">Ranking Distinctions</a>
        }

        <button type="button" @onclick="viewToggle" class="btncolor dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            View
        </button>
        @if (@viewToggleSwitch)
        {
            @if (accountType == "Visitor" || accountType == "")
            {
                <a class="dropdowncolor" href="/visitor/masterschedule">master schedule</a>
                <a class="dropdowncolor" href="/visitor/viewcourses">view courses</a>
                <a class="dropdowncolor" href="/visitor/viewrequirements">view requirements</a>
                <a class="dropdowncolor" href="/visitor/timewindow">time windows</a>
            }

            @if (accountType == "Undergraduate")
            {
                <a class="dropdown-item dropdowncolor" href="/undergraduate/adjustlogin">adjust login</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/changemajorminor">change major/ minor </a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/dropclass">drop class </a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/signup">signup for classes</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewdegreeaudit">view degree audit</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewtranscript">view transcript</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewtranscript">view schedule</a>
                
            }

                <a class="dropdown-item dropdowncolor" href="/undergraduate/changemajorminor">edit major/ minor </a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/dropclass">drop class </a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/signup">signup for classes</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewdegreeaudit">view degree audit</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewtranscript">view transcript</a>
                <a class="dropdown-item dropdowncolor" href="/undergraduate/viewschesule">view schedule</a>

            @if (accountType == "Graduate")
            {
                <a class="dropdown-item dropdowncolor" href="/graduate/adjustlogin">adjust login</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/changemajorminor">edit major/ minor </a>
                <a class="dropdown-item dropdowncolor" href="/graduate/dropclass">drop class </a>
                <a class="dropdown-item dropdowncolor" href="/graduate/signup">signup for classes</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/viewdegreeaudit">view degree audit</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/viewtranscript">view transcript</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/viewtranscript">view schedule</a>
            }

            @if (accountType == "Admin")
            {
                <a class="dropdown-item dropdowncolor" href="/admin/masterschedule">master schedule</a>
                <a class="dropdown-item dropdowncolor" href="/admin/viewcourses">view courses</a>
                <a class="dropdown-item dropdowncolor" href="/admin/viewusers">view users</a>
                <a class="dropdown-item dropdowncolor" href="/admin/viewcurrentclasses">view current classes</a>
                <a class="dropdown-item dropdowncolor" href="/admin/viewrequirements">view requirements</a>
                <a class="dropdown-item dropdowncolor" href="/admin/viewuserrecord/input">view user record</a>

            }

            @if (accountType == "Faculty")
            {

                <a class="dropdown-item dropdowncolor" href="/faculty/viewcourses">view courses</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/viewrequirements">view requirements</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/viewstudents">view students</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/viewtaughtclasses">view taught classes</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/viewusergrades">view user grades</a>
            }

        }

        @if (accountType == "Faculty" || accountType == "Undergraduate" || accountType == "Graduate")
        {
            <button type="button" @onclick="actionToggle" class="btncolor dropdown-toggle">
                Action
            </button>
        }
        
        @if (actionToggleSwitch)
        {
            @if (accountType == "Undergraduate")
            {
                <a class="dropdowncolor" href="/undergraduate/signup">add classes</a>
                <a class="dropdowncolor" href="/undergraduate/changemajorminor">add/drop majors/minors </a>
                <a class="dropdowncolor" href="/undergraduate/dropclass">drop class</a>
            }

            @if (accountType == "Graduate")
            {
                <a class="dropdown-item dropdowncolor" href="/graduate/signup">add classes</a>
                <a class="dropdown-item dropdowncolor" href="/graduate/changemajorminor">add/drop majors/minors </a>
                <a class="dropdown-item dropdowncolor" href="/graduate/dropclass">drop class</a>
            }

            @if (accountType == "Faculty")
            {

                <a class="dropdown-item dropdowncolor" href="/faculty/givegrade">give grade</a>
                <a class="dropdown-item dropdowncolor" href="/faculty/takeattendance">take attendance</a>
            }
        }

        @if (accountType == "Admin")
        {
            <button type="button" @onclick="classesToggle" class="btncolor dropdown-toggle">
                Classes
            </button>
        }
       
        @if (classesToggleSwitch)
        {
            @if (accountType == "Admin")
            {
                <a class="dropdown-item dropdowncolor" href="/admin/addclasssection">add class section</a>
                <a class="dropdown-item dropdowncolor" href="/admin/addnewcourse">add class</a>
                <a class="dropdown-item dropdowncolor" href="/admin/removeclass">remove class</a>
                <a class="dropdown-item dropdowncolor" href="/admin/removeuser">remove user</a>
                <a class="dropdown-item dropdowncolor" href="/admin/addprofessorclass">add professor</a>
                <a class="dropdown-item dropdowncolor" href="/admin/adduserclass">add user to class</a>
                <a class="dropdown-item dropdowncolor" href="/admin/removeprofessorclass">remove professor from class</a>
                <a class="dropdown-item dropdowncolor" href="/admin/removeuserclass">remove user from class</a>
                <a class="dropdown-item dropdowncolor" href="/admin/editclass">edit class</a>
            }

        }

        @if (accountType == "Admin")
        {
            <button type="button" @onclick="usersToggle" class="btncolor dropdown-toggle">
                Users
            </button>
        }
        @if (usersToggleSwitch)
        {
            <a class="dropdown-item dropdowncolor" href="/admin/unlockaccount">unlock account</a>
            <a class="dropdown-item dropdowncolor" href="/admin/adduser">add user</a>
            <a class="dropdown-item dropdowncolor" href="/admin/edituser">edit user</a>
            <a class="dropdown-item dropdowncolor" href="/admin/sendpasswordreset">send password reset</a>
        }
    </MudDrawer>
</MudDrawerContainer>

@code
{
    private bool loggedIn { get; set; } = false;
    private string accountType { get; set; } = "Visitor";

    private bool openStart = false;
    private bool aboutToggleSwitch = false;
    private bool viewToggleSwitch = false;
    private bool actionToggleSwitch = false;
    private bool classesToggleSwitch = false;
    private bool usersToggleSwitch = false;

    protected override async Task OnInitializedAsync()
    {

        Console.WriteLine("\n\n\n program initalization \n\n\n");

        var loggedInCheck = await storage.GetAsync<bool>("loggedIn");
        loggedIn = loggedInCheck.Value;

        var accountTypeCheck = await storage.GetAsync<string>("accountType");

        if (accountTypeCheck.Value != null)
        {
            accountType = accountTypeCheck.Value;
        }
        else
        {
            accountType = "Visitor";
        }

    }

    private void toggleDrawer()
    {
        openStart = !openStart;
    }

    private void aboutToggle()
    {
        aboutToggleSwitch = !aboutToggleSwitch;
    }

    private void viewToggle()
    {
        viewToggleSwitch = !viewToggleSwitch;
    }

    private void actionToggle()
    {
        actionToggleSwitch = !actionToggleSwitch;
    }

    private void classesToggle()
    {
        classesToggleSwitch = !classesToggleSwitch;
    }

        private void usersToggle()
        {
            usersToggleSwitch = !usersToggleSwitch;
        }



}