@page "/about/accreditationcertification"
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>about</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/accreditationcertification.js')}}"></script>
  </head>
<body>
    {{macro.header()}}
    <div>
        <div>
            <div>
                <h1>Accreditations &amp; Certifications</h1>
            </div>
            <div>
                <article>
                    <div>
                        <div>
                            <p>SUID ClearWater College is a public college operating as part of the 64-campus State University of Idaho system. The College is currently registered or accredited by the following authorities:</p>
                            <hr>
                            <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="84a39943-601f-4de9-b1a7-52b26295fa07" data-langcode="en">
                                <article>
                                    <div>
                                        <picture>
                                            
                                            
                                            <img src="{{url_for('static', filename='image/accreditation/MSCHE.png')}}" alt="Middle states logo">
                                        </picture>
                                    </div>
                                </article>
                            </div>
                            <p><a href="http://www.msche.org/">Middle States Commission on Higher Education</a></p>
                            <p>
                                SUID College at&nbsp;Salmon Region&nbsp;is an accredited institution and a member of the Middle States Commission on Higher Education, 3624 Market Street,&nbsp;Philadelphia, PA 19104-2680 (267-284-5000).
                                SUID&nbsp;ClearWater College&nbsp;accreditation status is Accreditation Reaffirmed. The Commission’s most recent action on the institution’s accreditation status on June 24, 2021 was to reaffirm
                                accreditation. MSCHE is an institutional accrediting agency recognized by the U.S. Secretary of Education
                            </p>
                            <hr>
                            <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="0a03e221-4cf9-49d5-9871-b009f582d737" data-langcode="en">
                                <article>
                                    <div>
                                        <picture>
        
                                            <img src="{{url_for('static', filename='image/accreditation/aaqep_blues_small.jpg')}}" alt="AAQEP logo in light and dark blue">
                                        </picture>
                                    </div>
                                </article>
                            </div>
                            <p><a href="https://aaqep.org/">Association for Advancing Quality in Educator Preparation</a></p>
                            <p>
                                The School of Education at&nbsp;SUID&nbsp;ClearWater College&nbsp;is accredited by the Association for Advancing Quality in Educator Preparation,&nbsp;P.O. Box 7511,&nbsp;Fairfax Station, VA 22039
                                (301-276-5106).&nbsp;Nationally recognized by the Council for Higher Education Accreditation (CHEA), AAQEP is a membership association and quality assurance agency that provides accreditation services and
                                formative support to all types of educator preparation providers.
                            </p>
                            <hr>
                            <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="b15ae68c-5b0e-4028-b9ea-b13ef99f5030" data-langcode="en">
                                <article>
                                    <div>
                                        <picture>
                                            
                                            
                                            <img src="{{url_for('static', filename='image/accreditation/ACS_Logo.jpg')}}" alt="American Chemical Society logo">
                                        </picture>
                                    </div>
                                </article>
                            </div>
                            <p><a href="https://www.acs.org/content/acs/en.html">American Chemical Society</a></p>
                            <p>
                                The B.S. in Chemistry of the State University of&nbsp;Idaho&nbsp;at&nbsp;ClearWater College&nbsp;is certified by the American Chemical Society,&nbsp;1155 Sixteenth St., NW,&nbsp;Washington, DC 20036
                                (800-227-5558).
                            </p>
                        </div>
                    </div>
                </article>
                <hr>

                <div class="layout-content">
                    <div id="content" class="region region--content clearfix">
                        <div id="block-de-theme-content" class="block block-system block-system-main-block">
                            <article class="node node--type-page node--view-mode-full">
                                <div class="node__content">
                                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                        <div class="align-left embedded-entity" data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="b2191fcd-cd9e-422c-8c18-f9fbc82dfb3f" data-langcode="en">
                                            <article class="media media--type-image media--view-mode-inline">
                                                <div class="field field--name-field-media-image field--type-image field--label-hidden field__item">
                                                    <picture>
                                                        <img src="{{url_for('static', filename='image/accreditation/ceph_bachelors_only_red_transparent.png')}}" alt="Red Council on Education of Public Health logo for bachelor's programs">
                                                    </picture>
                                                </div>
                                            </article>
                                        </div>
                                        <p><a href="https://ceph.org/">Council on Education for Public Health</a></p>
                                        <p>
                                            The B.S. in Health &amp; Society at the State University of Idaho at Clearwater is accredited by the Council on Education for Public Health,&nbsp;1010 Wayne Avenue, Suite 220, Silver Spring,
                                            MD 20910 (202-789-1050).
                                        </p>

                                        <div class="align-left embedded-entity" data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="c979a8cd-a70f-4321-9762-bf1f1d7717ba" data-langcode="en">
                                            <article class="media media--type-image media--view-mode-inline">
                                                <div class="field field--name-field-media-image field--type-image field--label-hidden field__item">
                                                    <picture>
                                                        <source srcset="
                                                                /sites/default/files/styles/1_scale_large/public/legacy/images/NYSEDLogo.png?itok=R1oQFrBG    1x,
                                                                /sites/default/files/styles/1_scale_large_x2/public/legacy/images/NYSEDLogo.png?itok=ucRybBCq 2x
                                                            " type="image/png" media="all and (min-width: 900px)">
                                                        <source srcset="
                                                                /sites/default/files/styles/1_scale_medium/public/legacy/images/NYSEDLogo.png?itok=GSJ72cKy    1x,
                                                                /sites/default/files/styles/1_scale_medium_x2/public/legacy/images/NYSEDLogo.png?itok=V5_5GiV8 2x
                                                            " type="image/png" media="(max-width: 599px)">
                                                    </picture>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
