<!-- department heads:
american studies - Maresa Levings
biological science - Mick Whitfield
chem and physics - Casie Panons
english and education - Benson Curneen
history and philosphy - Elliot Strickland
math and computers - Marve Leborne
media and communications - Belle Leftridge
modern language - Pauly Pitrasso
politics economics and law - Sadie Aspinal
psychology - Kala Leban
public health - Marven Lamyman
sociology and criminology - Jenni Athridge
visual arts - Abby Kinleyside
-->
@page "/about/collegeleadership"
<!doctype html>
  <head>

    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>college leadership</title>
  </head>

<body>

    <h1>Department Heads</h1>

      <p><a href = "../people/maresalevings">American Studies - Maresa Levings</a></p>
      <p><a href = "../people/michwhitfield">Biological Science - Mick Whitfield</a></p>
      <p><a href = "../people/casiepanons">Chem and Physics - Casie Panons</a></p>
      <p><a href = "../people/bensoncurneen">English and Education - Benson Curneen</a></p>
      <p><a href = "../people/elliotstrickland">History and Philosphy - Elliot Strickland</a></p>
      <p><a href = "../people/marveleborne">Math and Computers - Marve Leborne</a></p>
      <p><a href = "../people/belleleftridge">Media and Communications - Belle Leftridge</a></p>
      <p><a href = "../people/paulypitrasso">Modern Language - Pauly Pitrasso</a></p>
      <p><a href = "../people/sadieaspinal">Politics Economics and Law - Sadie Aspinal</a></p>
      <p><a href = "../people/kalaleban">Psychology - Kala Leban</a></p>
      <p><a href = "../people/marvenlamyman">Public Health - Marven Lamyman</a></p>
      <p><a href = "../people/jeniathridge">Sociology and Criminology - Jenni Athridge</a></p>
      <p><a href = "../people/abbykinleyside">Visual Arts - Abby Kinleyside</a></p>
</body>


