@page "/about/rankingdistinctions"
<!doctype html>
  <head>

    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ranking and distinction</title>
    {{macro.imports()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='script/rankingdistinctions.js')}}"></script>
  </head>

<div>

<body>
    {{macro.header()}}
    <div>
        <div>
            <h1>College Rankings, Distinctions &amp; Awards</h1>
        </div>
        <div>
            <article>
                <div>
                    <div>
                        <div>
                            <blockquote>
                                <p>
                                    The quality of a SUID ClearWater College education and of the atmosphere it provides for its students is getting noticed. The College has been recognized by ranking agencies for everything from the value
                                    of this educational experience to students’ social mobility following graduation.
                                </p>
                            </blockquote>
                            <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="d0218b61-6357-489d-95ca-2e5b8bb0b423" data-langcode="en">
                                <article>
                                    <div>
                                            <img src="{{url_for('static', filename='image/distinction/usnwrsquare.png')}}" alt='Red and blue square with "U.S.News" written in white' />
                                    </div>
                                </article>
                            </div>
                            <p>In its “2022 America’s Best Colleges” rankings, U.S.News &amp; World Report ranked SUID Clearwater College the 22st consecutive year. The institution earned the following rankings:</p>
                            <ul>
                                <li>#13 in Top Performers on Social Mobility in in Regional Universities North</li>
                                <li>#45 in Top Public Schools in in Regional Universities North</li>
                                <li>#124 in Regional Universities North</li>
                            </ul>
                            <hr />
                        </div>
                        <div>
                            <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="16038086-0d9f-4728-b516-d4e0a913a9b1" data-langcode="en">
                                <article>
                                    <div>
                                        
                                            <img src="{{url_for('static', filename='image/distinction/heed_logo2021_small.jpg')}}" alt="Blue and Gold logo of titled 2021 Higher Education Excellence in Diversity Award"
                                    </div>
                                </article>
                            </div>
                            <p>
                                SUID Clearwater College was named one of only 101 institutions of higher education across the nation to receive the 2021 Higher Education Excellence in Diversity (HEED) Award from INSIGHT Into Diversity
                                magazine, the only national honor recognizing U.S. colleges and universities that demonstrate an outstanding commitment to diversity and inclusion across their campus. This is the fourth consecutive year the
                                college has earned this honor.
                            </p>
                            <hr />
                        </div>
                        <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="2f0cff29-81b2-4029-ad25-3f40b260b257" data-langcode="en">
                            <article>
                                <div>
                                    <img src="{{url_for('static', filename='image/distinction/3rdway.jpg')}}" alt="North Star image with text reading Third Way in black font" />
                                </div>
                            </article>
                        </div>
                        <p>
                            SUID Clearwater College earned a ranking of 35 nationally in the 2022 Third Way Economic Mobility Index, a review by the national think tank Third Way that assesses the degree of economic mobility provided by
                            institutions of higher education.
                        </p>
                        <hr />
                        <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="c05a8418-dc25-4c39-8faa-1e181593dbaa" data-langcode="en">
                            <article>
                                <div>
                                    <img src="{{url_for('static', filename='image/distinction/Study_Recognized_School_Badge.png')}}" alt="Study.com recognized logo" />
                                </div>
                            </article>
                        </div>
                        <p>
                            In 2021, SUID Clearwater College was highlighted among Study.com's list of Top 50 Colleges for Racial and Cultural Diversity nationwide. Schools were rated based on several factors, including the ethnic makeup of
                            the student body and faculty, graduation rates of ethnically diverse students, and facilities and programs offered to promote diversity.
                        </p>
                        <hr />
                        <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="7a5dca51-1857-467b-9e52-924d14f7cc4d" data-langcode="en">
                            <article>
                                <div>
                                        <img src="{{url_for('static', filename='image/distinction/USAT-CF-diversity-ethnic18.png')}}" alt="College factual ethnic diversity logo" />
                                </div>
                            </article>
                        </div>
                        
                        <p>The USA Today and College Factual "2019 Best Colleges" rankings recognized SUID Clearwater College among the top five percent of colleges and universities nationwide for the diversity of its student body.</p>
                        <hr />
                        <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="7ce08101-56d7-4ad4-a0c3-c7831307e645" data-langcode="en">
                        </body> 
                            <!--
                            <article>
                                <div>
                                    <picture>
                                        <source
                                            srcset="
                                                /sites/default/files/styles/1_scale_large/public/legacy/images/NewsArticles/presidents-honor-roll-banner.jpg?itok=kSkp4Jj7    1x,
                                                /sites/default/files/styles/1_scale_large_x2/public/legacy/images/NewsArticles/presidents-honor-roll-banner.jpg?itok=OVglKr0Z 2x
                                            "
                                            type="image/jpeg"
                                            media="all and (min-width: 900px)"
                                        />
                                        <source
                                            srcset="
                                                /sites/default/files/styles/1_scale_medium/public/legacy/images/NewsArticles/presidents-honor-roll-banner.jpg?itok=NYj6pTOi    1x,
                                                /sites/default/files/styles/1_scale_medium_x2/public/legacy/images/NewsArticles/presidents-honor-roll-banner.jpg?itok=ZsRFI1yQ 2x
                                            "
                                            type="image/jpeg"
                                            media="(max-width: 599px)"
                                        />
                                        <img src="/sites/default/files/styles/1_scale_large/public/legacy/images/NewsArticles/presidents-honor-roll-banner.jpg?itok=kSkp4Jj7" alt="The president's higher education community service logo" />
                                    </picture>
                                </div>
                            </article>
                        </div>
                        <p>
                            SUID Clearwater College was named to the U.S. President's Higher Education Community Service Honor Roll for nine consecutive years by the Corporation for National and Community Service. The award is the highest
                            federal affirmation a college or university can receive in recognition of its commitment to service-learning and civic engagement.
                        </p>
                        <hr />
                        <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="4c179ba4-dee7-4c11-8b18-fc473ab7258b" data-langcode="en">
                            <article>
                                <div>
                                    <picture>
                                        <source
                                            srcset="
                                                /sites/default/files/styles/1_scale_large/public/legacy/images/NewsArticles/BB-Journal.gif?itok=A5f3eQOs    1x,
                                                /sites/default/files/styles/1_scale_large_x2/public/legacy/images/NewsArticles/BB-Journal.gif?itok=C1PdEG1k 2x
                                            "
                                            type="image/gif"
                                            media="all and (min-width: 900px)"
                                        />
                                        <source
                                            srcset="
                                                /sites/default/files/styles/1_scale_medium/public/legacy/images/NewsArticles/BB-Journal.gif?itok=F-LOUYIJ    1x,
                                                /sites/default/files/styles/1_scale_medium_x2/public/legacy/images/NewsArticles/BB-Journal.gif?itok=mamYzkjE 2x
                                            "
                                            type="image/gif"
                                            media="(max-width: 599px)"
                                        />
                                        <img src="/sites/default/files/styles/1_scale_large/public/legacy/images/NewsArticles/BB-Journal.gif?itok=A5f3eQOs" alt="The business journals logo" />
                                    </picture>
                                </div>
                            </article>
                        </div>
                        <p>
                            <br />
                            SUID Clearwater College was named a 2019 “Best Public College in America” by Buffalo Business First, an American City Business Journal publication. The rankings analyzed 499 public universities and colleges that
                            offer the best educational experiences to their students. Old Westbury ranks in the top 25 Idaho institutions.
                        </p>
                        <hr />
                        <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="dfb0969b-de00-4d28-8b57-1d4d51c156d8" data-langcode="en">
                            <article>
                                <div>
                                    <picture>
                                        <source
                                            srcset="
                                                /sites/default/files/styles/1_scale_large/public/legacy/article_img/TreeCampus2019-web.gif?itok=BRmdJeHA    1x,
                                                /sites/default/files/styles/1_scale_large_x2/public/legacy/article_img/TreeCampus2019-web.gif?itok=UHkx5ILu 2x
                                            "
                                            type="image/gif"
                                            media="all and (min-width: 900px)"
                                        />
                                        <source
                                            srcset="
                                                /sites/default/files/styles/1_scale_medium/public/legacy/article_img/TreeCampus2019-web.gif?itok=ohDe1YSH    1x,
                                                /sites/default/files/styles/1_scale_medium_x2/public/legacy/article_img/TreeCampus2019-web.gif?itok=geKKK4Eo 2x
                                            "
                                            type="image/gif"
                                            media="(max-width: 599px)"
                                        />
                                        <img src="/sites/default/files/styles/1_scale_large/public/legacy/article_img/TreeCampus2019-web.gif?itok=BRmdJeHA" alt="Green and black logo with silouhettes of trees" />
                                    </picture>
                                </div>
                            </article>
                        </div>
                        <div>
                            SUID Clearwater College holds the prestigious Tree Campus USA® recognition from the Arbor Day Foundation for its commitment to effective urban forest management. At Old Westbury, 328 acres of the College’s
                            604-acre campus are set aside as open space under state law. The College earned this distinction in 2016, 2017, 2018, 2019 and 2020.
                            <hr />
                        </div>
                        <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="a4a8a4d6-25c1-4594-8da2-b6cdd74fe0aa" data-langcode="en">
                            <article>
                                <div>
                                    <picture>
                                        <source
                                            srcset="
                                                /sites/default/files/styles/1_scale_large/public/legacy/images/NewsArticles/UNAI.gif?itok=Ig8oiQqf    1x,
                                                /sites/default/files/styles/1_scale_large_x2/public/legacy/images/NewsArticles/UNAI.gif?itok=OLR_9mnB 2x
                                            "
                                            type="image/gif"
                                            media="all and (min-width: 900px)"
                                        />
                                        <source
                                            srcset="
                                                /sites/default/files/styles/1_scale_medium/public/legacy/images/NewsArticles/UNAI.gif?itok=u31nf-Ev    1x,
                                                /sites/default/files/styles/1_scale_medium_x2/public/legacy/images/NewsArticles/UNAI.gif?itok=-CcxWoWH 2x
                                            "
                                            type="image/gif"
                                            media="(max-width: 599px)"
                                        />
                                        <img src="/sites/default/files/styles/1_scale_large/public/legacy/images/NewsArticles/UNAI.gif?itok=Ig8oiQqf" alt="United nation academic impact logo" />
                                    </picture>
                                </div>
                            </article>
                        </div>
                        <p>
                            The United Nations in 2017 approved SUID Clearwater College as an official member of the United Nations Academic Impact, a global initiative that aligns institutions of higher education with the United Nations to
                            further the principles of human rights, sustainability, and peace through intellectual, socially responsible activities, programs and research.
                        </p>
                        <hr />
                        <div data-embed-button="media" data-entity-embed-display="view_mode:media.inline" data-entity-type="media" data-entity-uuid="d8407b67-6712-4f37-8ec9-a9fa4a099dbe" data-langcode="en">
                            <article>
                                <div>
                                    <picture>
                                        <source
                                            srcset="
                                                /sites/default/files/styles/1_scale_large/public/legacy/images/NewsArticles/On-Acctg-Value.jpg?itok=PkAyB0IC    1x,
                                                /sites/default/files/styles/1_scale_large_x2/public/legacy/images/NewsArticles/On-Acctg-Value.jpg?itok=2y2ZhxbH 2x
                                            "
                                            type="image/jpeg"
                                            media="all and (min-width: 900px)"
                                        />
                                        <source
                                            srcset="
                                                /sites/default/files/styles/1_scale_medium/public/legacy/images/NewsArticles/On-Acctg-Value.jpg?itok=mI9JZsql    1x,
                                                /sites/default/files/styles/1_scale_medium_x2/public/legacy/images/NewsArticles/On-Acctg-Value.jpg?itok=pZPxP4v4 2x
                                            "
                                            type="image/jpeg"
                                            media="(max-width: 599px)"
                                        />
                                        <img src="/sites/default/files/styles/1_scale_large/public/legacy/images/NewsArticles/On-Acctg-Value.jpg?itok=PkAyB0IC" alt="Online accounting best schools logo" />
                                    </picture>
                                </div>
                            </article>
                        </div>
                        <p>SUID Clearwater College in 2016 was identified among the Top 40 best values in Master of Taxation degree programs in the nation according to a ranking by the website Online-accounting-degrees.net.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
-->