@page "/undergraduate/signup2"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar snackbar

<h2>Signup for Classes</h2>

@code
{
    

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var accountTypeCheck = await storage.GetAsync<string>("accountType");
            if (accountTypeCheck.Value != "Undergraduate")
            {
                navigate.NavigateTo("/homepage");
            }
        }
        catch
        {
            navigate.NavigateTo("/homepage");
        }

            
            var userIDCheck = await storage.GetAsync<string>("userID");
            string userIDString = userIDCheck.Value;

        navigate.NavigateTo($"/undergraduate/signup2?userID={userIDString}");
    }

}