@page "/about"
<!doctype html>
  <head>

    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>about</title>
  </head>

<body>

  <h1>Welcome to Clearwater College</h1>
  <h2>Home of Fredrick the Salmon and the parrs</h2>
  <img src="{{url_for('static', filename='image/salmon.png')}}">

  <p>ClearWater College is a selective public liberal arts college where students are tasked with taking charge and challenged daily to achieve excellence in an environment suited for growth.</p>
  <ul>

  </ul>

  {{macro.footer()}}

  
</body>