@page "/about"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar snackbar

<!doctype html>
  <head>

    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>about</title>
  </head>

<body>

    <h1 class="headerAlign">Welcome to Clearwater College</h1>
    <h2 class="headerAlign">Home of Fredrick the Salmon and the parrs</h2>
  <img src="image/salmon.png" style="padding-left: 20%">

  <p>
      ClearWater College is a selective public liberal arts college where students
      are tasked with taking charge and challenged daily to achieve excellence
      in an environment suited for growth. At ClearWater College we strive to
      give students a clear perspective on achieving their goals in life by granting
      our students a well defined course curriculum that goes straight to the source
      of success. Our instructors are well equipped to teach the skills needed to convey
      the needed methods to navigate the river known as life. You can choose to brave the
      murky waters of life on your own or you can make life much easier by choosing to
      navigate the ClearWater(s) of our college.
  </p>

  
</body>