@page "/login"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar Snackbar

    <input type="text" placeholder="email" @bind-value = "email"/>
    <br />
    <input type="password" placeholder="password" @bind-value = "password"/>
    <button @onclick="login" class = "btncolor">login</button>



@code
{
    Mongo mongo = new Mongo("college-site-2");
    private string? email { get; set; }
    private string? password { get; set; }
    public bool showPopover = false;



    private async Task login()
    {
                try
                {
                    var queryUser = mongo.LoadRecordByString<AllUser>("allUser", "Email", email);
                    if (email == queryUser.Email && password == queryUser.Password)
                    {
                        Console.WriteLine("if statement activated");
                        await storage.SetAsync("email", queryUser.Email);
                        await storage.SetAsync("accountType", queryUser.AccountType);
                        //await storage.SetAsync("userId", queryUser.Id); //this causes the login system to break because it wants a boolean, god knows why so start demanding answers from him
                        await storage.SetAsync("firstName", queryUser.FirstName);
                        await storage.SetAsync("lastName", queryUser.LastName);
                        await storage.SetAsync("address", queryUser.Address);
                        await storage.SetAsync("phoneNumber", queryUser.PhoneNumber);
                        await storage.SetAsync("advisor", queryUser.Advisor);
                        await storage.SetAsync("holdStatus", queryUser.Holds);
                        await storage.SetAsync("major", queryUser.Major);
                        await storage.SetAsync("minor", queryUser.Minor);
                        await storage.SetAsync("loggedIn", true);
                        navigate.NavigateTo("/homepage", true);
                    }
                }
                catch
                {
                    Snackbar.Add($"login not correct <br/> or <br/> password not correct", Severity.Error);
                }
            }
    }