@page "/login"
@inject ProtectedLocalStorage storage


<!doctype html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>login</title>


</head>
<body>


</body>

@code
{
    Mongo mongo = new Mongo("college-site-2");

    
}


}