@page "/logout"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate

<div class="stylecontent">
    <h2>you are being logged out</h2>
    </div>
@code
{
    protected override async Task OnInitializedAsync()
    {
        await storage.DeleteAsync("email");
        await storage.DeleteAsync("accountType");
        await storage.DeleteAsync("userId");
        await storage.DeleteAsync("firstName");
        await storage.DeleteAsync("lastName");
        await storage.DeleteAsync("address");
        await storage.DeleteAsync("phoneNumber");
        await storage.DeleteAsync("advisor");
        await storage.DeleteAsync("holdStatus");
        await storage.DeleteAsync("major");
        await storage.DeleteAsync("minor");
        await storage.DeleteAsync("loggedIn");

        
        navigate.NavigateTo("/homepage", true);
    }
}