@page "/header/logout"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>logged out</title>
  </head>

<body>

  {{ macro.header() }}


    <h2>you have been logged out</h2>

  {{macro.footer()}}

  
</body>