@page "/header/passwordreset"
<!doctype html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>send password reset</title>
  </head>

<body>

  {{ macro.header() }}

<h2>password reset </h2>
<form method = "Post" action = "{{ url_for('adminsendpasswordreset') }}">
      {{ form.csrf_token }}
      {{ form.username.label }}
      {{ form.username }}
      <input type = "submit" id = "form" name = "form" value = "submit">
    </form>


  {{macro.footer()}}

  
</body>