@inherits LayoutComponentBase
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject NotificationService NotificationService

<PageTitle>CollegeWebsite2</PageTitle>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<div class="page">
    <div class="stylecontent">


    <CollegeWebsite2.Pages.reuseable.Header />
  

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>


    <!-- footer -->

        <div class="row align-items-end text-center">
            <div class="col">

                Our Goal : Our goal is to be a leading educational institution where our teaching is underpinned by the ground-breaking research of our academic staff so students can enter the workforce with innovative skills and knowledge in their chosen fields.

            </div>
            <div class="col" style="padding-top: 225px" ;>
                <img src="homepageimage/collegelogo.png" class="footerImg" style="width:400px;height:400px;" alt="college logo">
            </div>
            <div class="col">
                Contact Info :
                <p>
                    Alex - acastrclearwater@protonmail.com <br>
                    Nick - ncampanclearwater@protonmail.com <br>
                    Opeyemi - oopeyeclearwater@protonmail.com <br>
                </p>

            </div>
        </div>


  </div>
  </div>


@code
{

}