@inherits LayoutComponentBase
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate

<PageTitle>CollegeWebsite2</PageTitle>

<div class="page">
    <div class="stylecontent">


    <CollegeWebsite2.Pages.reuseable.Header />

    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

        <main>
        <article class="content px-4">
            @Body
        </article>
    </main>




    <CollegeWebsite2.Pages.reuseable.Footer />




@code
{

}